@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
 
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: gray;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 100vh;
    border: 2px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background:grey;
  }
}
